h1 {
    text-align: center;
}

#article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
}

.article {
    border: 1px solid darkgray;
    border-radius: 5px;
    box-shadow: 0 0 5px darkgray;
    width: 40%;
    transition: box-shadow 0.2s ease-in-out;
}

.article:hover {
    box-shadow: 3px 3px 5px darkgray;
}

.article > h3 {
    background-color: lightgray;
    margin: 0;
    padding: 0.5rem 1rem;
}

.article > .description {
    padding: 1rem;
}

.article > .price {
    background-color: rgb(176, 233, 251);
    width: 50px;
    min-width: max-content;
    padding: 3px;
    padding-left: 5px;
    font-size: larger;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 5px;
}

.article > .price.reduced {
    background-color: rgb(252, 216, 216);
}

.reduced-text {
    color: red;
    animation: blink 1s infinite;
}
    

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


